body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

datalist {
  display: flex;
  justify-content: space-between;
  /* writing-mode: vertical-lr; */
  width: 200px;
}

option {
  padding: 0;
}

input[type="range"] {
  width: 200px;
  margin: 0;
}

.feed-footer {
  position: fixed;
  bottom: 0;
}

.book-title {
  text-transform: capitalize;
}